<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddPNLF</key>
				<true/>
				<key>FixRTC</key>
				<true/>
			</dict>
			<key>PNLF_UID</key>
			<string>0x10</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change EC0 to EC</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change ADJT to XDJT for Battery Hotpatch</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>QURKVAg=</data>
					<key>Replace</key>
					<data>WERKVAg=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change CLRI to XLRI for Battery Hotpatch</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q0xSSQg=</data>
					<key>Replace</key>
					<data>WExSSQg=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _BST to XBST for Battery Hotpatch</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0JTVAA=</data>
					<key>Replace</key>
					<data>WEJTVAA=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change UPBI to XPBI for Battery Hotpatch</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>VVBCSQA=</data>
					<key>Replace</key>
					<data>WFBCSQA=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change UPBS to XPBS for Battery Hotpatch</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>VVBCUwA=</data>
					<key>Replace</key>
					<data>WFBCUwA=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SMRD to XMRD for Battery Hotpatch</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U01SRAQ=</data>
					<key>Replace</key>
					<data>WE1SRAQ=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SMWR to XMWR for Battery Hotpatch</string>
					<key>Count</key>
					<integer>0</integer>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U01XUgQ=</data>
					<key>Replace</key>
					<data>WE1XUgQ=</data>
					<key>Skip</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v dart=0 darkwake=10 agdpmod=vit9696 rtsx_sleep_wake_delay_ms=1000 alcid=16 amfi_get_out_of_my_way=1 ipc_control_port_options=0</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Fast</key>
		<true/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NoEarlyProgress</key>
		<true/>
		<key>XMPDetection</key>
		<integer>0</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>HWPEnable</key>
		<true/>
		<key>UseARTFrequency</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x0</string>
			<key>IMEI</key>
			<string>0x0</string>
			<key>IntelGFX</key>
			<string>0x04128086</string>
			<key>LAN</key>
			<string>0x0</string>
			<key>NVidia</key>
			<string>0x0</string>
			<key>SATA</key>
			<string>0x0</string>
			<key>WIFI</key>
			<string>0x0</string>
			<key>XHCI</key>
			<string>0x0</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x0)</key>
			<dict>
				<key>ec-device</key>
				<string>generic</string>
				<key>fan-count</key>
				<data>AgAAAA==</data>
				<key>fan0-addr</key>
				<data>sgAAAA==</data>
				<key>fan0-big</key>
				<data>AAAAAA==</data>
				<key>fan0-size</key>
				<data>AgAAAA==</data>
				<key>fan1-addr</key>
				<data>wwAAAA==</data>
				<key>fan1-big</key>
				<data>AAAAAA==</data>
				<key>fan1-size</key>
				<data>AgAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>alc-delay</key>
				<data>9AEAAA==</data>
				<key>alc-verbs</key>
				<data>AQAAAA==</data>
				<key>compatible</key>
				<string>pci8086,a170</string>
				<key>device-id</key>
				<data>cKEAAA==</data>
				<key>layout-id</key>
				<data>GAAAAA==</data>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AAAbWQ==</data>
				<key>disable-external-gpu</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>BOOTX64.efi</string>
			<string>Windows</string>
			<string>Recovery</string>
		</array>
		<key>Language</key>
		<string>en-US:0</string>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>hp</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<true/>
			<key>Intel</key>
			<true/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>PanicNoKextDump</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DevirtualiseMmio</key>
		<false/>
		<key>DisableIoMapper</key>
		<false/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>DisableSingleUser</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>FuzzyMatch</key>
		<true/>
		<key>IncreasePciBarSize</key>
		<false/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>MmioWhitelist</key>
		<array>
			<dict>
				<key>Address</key>
				<integer>4275159040</integer>
				<key>Comment</key>
				<string>Haswell: SB_RCBA is a 0x4 page memory region, containing SPI_BASE at 0x3800 (SPI_BASE_ADDRESS)</string>
				<key>Enabled</key>
				<false/>
			</dict>
			<dict>
				<key>Address</key>
				<integer>4278190080</integer>
				<key>Comment</key>
				<string>Generic: PCI root is a 0x1000 page memory region used by some firmwares</string>
				<key>Enabled</key>
				<false/>
			</dict>
		</array>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>ProtectUefiServices</key>
		<false/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>RebuildAppleMemoryMap</key>
		<false/>
		<key>ResizeAppleGpuBars</key>
		<integer>-1</integer>
		<key>SetupVirtualMap</key>
		<true/>
		<key>SignalAppleOS</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<false/>
		<key>ThirdPartyDrives</key>
		<false/>
		<key>XhciPortLimit</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0xBE7</string>
		<key>MLB</key>
		<string>C02828101GUJ1JHA8</string>
		<key>ROM</key>
		<data>kdh9v1SO</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>10/05/2023</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM201.88Z.F000.B00.2310052037</string>
		<key>Board-ID</key>
		<string>Mac-xxxxxxxxxxx</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>xxxxxxxxxxxx</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>iMac20,1</string>
		<key>ChassisAssetTag</key>
		<string>Asset Tag#</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0xD</string>
		<key>EfiVersion</key>
		<string>2020.41.1.0.0</string>
		<key>ExtendedFirmwareFeatures</key>
		<string>0x00000008FFB3F066</string>
		<key>ExtendedFirmwareFeaturesMask</key>
		<string>0x00000008FFFFFFFF</string>
		<key>Family</key>
		<string>iMac</string>
		<key>FirmwareFeatures</key>
		<string>0xFFB3F066</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFFFFFFFF</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>PlatformFeature</key>
		<string>0x20</string>
		<key>ProductName</key>
		<string>iMac20,1</string>
		<key>SerialNumber</key>
		<string>xxxxxxxxxxxxxx</string>
		<key>SmUUID</key>
		<string>FA4540DD-B8A2-4ED9-8986-xxxxxxxxxxxx</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string></string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
